{
  "button": {
    "id": "da:sh:bu:tt:on:01"
  },
  "mail": {
    "from": "your.address@googlemail.com",
    "to": "another.address@googlemail.com",
    "body": "This was sent by pressing a dash button!",
    "subject":"Dash Button was pressed!",
    "refreshtoken": "INSERTREFRESHTOKENHERE",
    "accesstoken":"INSERTACCESSTOKENHERE"
  }
}
